button {
    font-family: gill-sans-ultra-bold-regular;
    padding: 8px 25px;
    background-color: #5582c6;
    color: white;
    font-size: 22px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s
}